<% content_for :head do %>
  <title><%= @item.title %> - monolist</title>
  <meta name="description" content="<%= @item.title %>についての情報はこちら。">
<% end %>

<div class="container">
  <div class="container-inner inner-sm clearfix">
    <div class="item-single-main">
      <div class="image">
        <div class="img-wrap">
          <%= image_tag(@item.large_image , alt: @item.title) %>
        </div>
      </div>
      <div class="title">
        <%= @item.title  %>
      </div>
      <%= render 'action' , item: @item %>
    </div>
    <div class="item-single-side">
      <div class="side-box">
        <h4 class="side-box-title">Haveしたユーザー</h4>
        <div class="side-box-body">
          <% @have.each do |user| %> 
            <%= link_to gravatar_for(user, size: 30), user %>
          <% end %>
        </div>
      </div>
      <div class="side-box">
        <h4 class="side-box-title">Wantしたユーザー</h4>
        <div class="side-box-body">
          <% @want.each do |user| %> 
           <%= link_to (gravatar_for user, size: 30), user %>
          <% end %>
        </div>
      </div>
      <div class="text-center">
        <%= link_to('楽天詳細ページへ', @item.detail_page_url) %>
      </div>
    </div>
  </div>
</div>
